@font-face {
  font-family: 'LatoLight';
  src: url('../fonts/Lato-Light.woff'), url('../fonts/Lato-Light.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LatoLightItalic';
  src: url('../fonts/Lato-LightItalic.woff'),
    url('../fonts/Lato-LightItalic.woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'LatoItalic';
  src: url('../fonts/Lato-Italic.woff'), url('../fonts/Lato-Italic.woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'LatoRegular';
  src: url('../fonts/Lato-Regular.woff'), url('../fonts/Lato-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'LatoBold';
  src: url('../fonts/Lato-Bold.woff'), url('../fonts/Lato-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RubikLightItalic';
  src: url('../fonts/Rubik-LightItalic.woff'),
    url('../fonts/Rubik-LightItalic.woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'RubikRegular';
  src: url('../fonts/Rubik-Regular.woff'), url('../fonts/Rubik-Regular.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RubikRegularItalic';
  src: url('../fonts/Rubik-Italic.woff'), url('../fonts/Rubik-Italic.woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'RubikMedium';
  src: url('../fonts/Rubik-Medium.woff'), url('../fonts/Rubik-Medium.woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RubikBold';
  src: url('../fonts/Rubik-Bold.woff'), url('../fonts/Rubik-Bold.woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
