.blog {
  padding-top: 90px;
  padding-bottom: 30px;
  .title {
    margin-bottom: 60px;
    max-width: 491px;
    @include breakpoints($point-4) {
      max-width: 380px;
    }
    h2 {
      text-align: left;
    }
    span {
      text-align: left;
    }
  }
  &__slide {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wrap {
      max-width: 380px;
      width: 100%;
      position: relative;
      min-height: 306px;
      overflow: hidden;

      img {
        width: 100%;
        height: 240px;
        object-fit: cover;
        transition: 200ms ease-in-out;
      }
      // &:hover {
      //   img{
      //     transform: scale(1.2);
      //   }
      // }
    }
    &:hover {
      .blog__slide-info {
        bottom: 5px;
      }
    }
  }
  &__slide-info {
    transition: 200ms ease;
    position: absolute;
    width: 85%;
    padding-top: 15px;
    padding-left: 23px;
    padding-right: 20px;
    background-color: #fff;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 115px;
  }
  &__Slide-title {
    font-family: var(--RubikMedium);
    font-size: 24px;
    line-height: 30px;
    color: var(--color-primary);
  }
  &__slide-top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    .date {
      display: inline-block;
      margin-right: 20px;
      font-family: var(--LatoItalic);
      font-size: 17px;
      line-height: 26px;
      color: var(--color-accent);
    }
    .author {
      font-family: var(--LatoItalic);
      font-size: 17px;
      line-height: 26px;
      color: #888888;
    }
  }
  &__slider {
    padding-bottom: 62px;
    min-width: 0;
  }
  .swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      background-color: var(--color-unaccent);
      &:not(:last-child) {
        margin-right: 15px;
      }
    }
    .swiper-pagination-bullet-active {
      width: 18px;
      height: 18px;
      background-color: var(--color-yellow);
    }
  }
  // .swiper-container {
  //   width: 100%;
  //   height: 100%;
  // }

  // .swiper-slide {
  //   text-align: center;
  //   font-size: 18px;
  //   background: #ccc;
  //   height: 300px;

  //   /* Center slide text vertically */
  //   display: -webkit-box;
  //   display: -ms-flexbox;
  //   display: -webkit-flex;
  //   display: flex;
  //   -webkit-box-pack: center;
  //   -ms-flex-pack: center;
  //   -webkit-justify-content: center;
  //   justify-content: center;
  //   -webkit-box-align: center;
  //   -ms-flex-align: center;
  //   -webkit-align-items: center;
  //   align-items: center;
  // }

  // .swiper-slide img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }
}
