.facts {
  padding-top: 170px;
  padding-bottom: 170px;

  &__descr {
    @include text();
    margin-bottom: 42px;
  }
  .title {
    h2,
    span {
      text-align: left;
    }
    h2 {
      margin-bottom: 22px;
    }
    max-width: 446px;
    @include breakpoints($point-3) {
      max-width: 300px;
    }
    @include breakpoints($point-6) {
      max-width: 240px;
    }
  }
  &__button {
    background: transparent;
    color: var(--color-dark);
  }
  &__wrapper {
    padding-left: 260px;
    @include breakpoints($point-0) {
      padding-left: 0;
      margin: 0 auto;
      max-width: 1440px;
    }
  }
  &__top {
    display: grid;
    grid-template-columns: minmax(auto, 655px) minmax(auto, 740px);
    margin-bottom: 80px;
    justify-content: space-between;
    gap: 45px;
    @include breakpoints($point-2) {
      grid-template-columns: minmax(auto, 500px) minmax(auto, 740px);
    }
    @include breakpoints($point-3) {
      grid-template-columns: minmax(auto, 400px) minmax(auto, 740px);
    }
    @include breakpoints($point-4) {
      grid-template-columns: 1fr;
    }
  }
  &__offer {
    padding-top: 112px;
    width: 100%;
  }
  &__preview {
    width: 100%;
    height: 0;
    padding-bottom: 66.5%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    justify-self: center;
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoints($point-2) {
    }
  }
}

.counters {
  display: flex;
  flex-wrap: wrap;
  .counter {
    max-width: 269px;
    width: 100%;
    min-height: 123px;
    position: relative;
    padding: 14px 0 0 40px;
    transition: 200ms ease-in-out;
    &:hover {
      transform: translateY(-6px);
    }
    &::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      background-color: #e2f6b9;
      width: 81px;
      height: 81px;
      border-radius: 50%;
      z-index: -1;
      @include breakpoints($point-3) {
        width: 61px;
        height: 61px;
        left: 10px;
      }
    }
    &:not(:last-child) {
      margin-right: 22px;
    }
    &__count {
      font-family: var(--RubikMedium);
      font-size: 60px;
      line-height: 76px;
      color: var(--color-primary);
      margin-bottom: 5px;
      @include breakpoints($point-3) {
        font-size: 40px;
        line-height: 56px;
      }
    }
    &__text {
      font-family: var(--RubikRegular);
      font-size: 18px;
      line-height: 28px;
      color: var(--color-dark);
    }
    @include breakpoints($point-2) {
      margin: 22px;
      margin-left: 0;
    }
  }
}
