.faqs {
  padding-top: 170px;
  padding-bottom: 155px;
  &__wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 780px) minmax(auto, 380px);
    gap: 20px;
    min-height: 415px;
    @include breakpoints($point-650) {
      grid-template-columns: 1fr;
    }
  }

}
