.social {
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 33px;
    }
  }
  &__link {
    display: block;
    height: 24px;
    width: 23px;
    transition: 150ms ease-in-out;
    &:hover {
      transform: scale(1.25);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
