.tags {
  height: auto;
  &__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  .tags__item {
    display: inline-block;
  }
  .tags__link {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 100px;
    border: 1px solid #adb5bd;
    width: auto;
    font-family: var(--LatoLight);
    font-size: 17px;
    line-height: 17px;
    color: var(--color-dark);
    margin-bottom: 10px;
    transition: 150ms ease-in-out;
    &:hover {
      background-color: var(--color-dark);
      color: var(--color-white);
    }
  }
}
.tags--section {
  background-color: #f8f8f8;
  padding: 20px 40px 10px;
  .tags__item:not(:last-child) {
    margin-right: 18px !important;
  }
  @include breakpoints($point-4) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
